/* Sidebar tổng thể */
.sidenav {
    border-radius: 1rem !important;
    margin: 1rem;
    background: #ffffff !important;
    width: 250px !important; /* Độ rộng vừa phải */
    overflow-x: hidden !important;
}
.sidenav-header{
    margin: 10px 20px;
}
.navbar-nav {
    width: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.nav-item {
    width: auto !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

/* Cấu trúc link mặc định (Lúc chưa chọn) */
.nav-link {
    display: flex !important;
    align-items: center;
    padding: 0.6rem 1rem !important;
    border-radius: 0.75rem !important;
    transition: all 0.2s ease;
}

/* Chữ trong menu - To và Rõ */
.nav-link-text {
    font-size: 0.95rem !important;
    font-weight: 600 !important;
    color: #344767 !important;
    margin-left: 8px;
}

/* Icon mặc định - Luôn hiện 100% màu đậm */
.nav-link .icon {
    width: 32px;
    height: 32px;
    background: #ffffff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.12); /* Đổ bóng nhẹ cho icon */
    transition: all 0.2s ease;
}

    .nav-link .icon i {
        color: #344767 !important; /* Màu icon gốc */
        font-size: 0.85rem !important;
        opacity: 1 !important;
    }

/* --- TRẠNG THÁI ACTIVE (KHI BẤM CHỌN) --- */

/* Nền của mục được chọn */
.nav-link.active-menu-item {
    background-color: #ffffff !important;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05) !important;
}

    /* Icon khi được chọn - Chuyển sang Gradient và màu trắng */
    .nav-link.active-menu-item .icon {
        background-image: linear-gradient(310deg, #7928ca, #ff0080) !important;
    }

        .nav-link.active-menu-item .icon i {
            color: #ffffff !important; /* Icon biến thành màu trắng */
        }

    /* Chữ khi được chọn - Đậm hơn */
    .nav-link.active-menu-item .nav-link-text {
        color: #252f40 !important;
        font-weight: 700 !important;
    }

/* Hover nhẹ để tăng trải nghiệm */
.nav-link:hover:not(.active-menu-item) {
    background-color: #f8f9fa;
}

/* Hiệu ứng cho chuông thông báo */
.navbar-main .nav-link i {
    color: #344767;
    transition: all 0.2s ease;
    font-size: 30px;
}

.navbar-main .nav-link:hover i {
    color: #cb0c9f; /* Màu tím hồng đặc trưng của bạn */
    transform: scale(1.1);
}

/* Tinh chỉnh Menu thả xuống (Dropdown) */
.dropdown-menu {
    box-shadow: 0 8px 26px -4px rgba(20, 20, 20, 0.15), 0 8px 9px -5px rgba(20, 20, 20, 0.06) !important;
    border: none;
    margin-top: 1rem !important;
}

.dropdown-item:hover {
    background-color: #f8f9fa !important;
}

