
.modal-content .input-group {
    border-radius: 0.5rem !important;
    border: 1px solid #d2d6da !important;
    transition: all 0.2s ease;
}

.modal-content .input-group .form-control {
    border: none !important;
    padding-left: 10px !important;
}

.modal-content .input-group-text {
    border: none !important;
    background-color: transparent !important;
    color: #adb5bd !important;
}

.icon-shape-sm {
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
