@model Financial_Management_Server.DTOs.ResetPasswordRequestDto
@{
    ViewData["Title"] = "Đặt lại mật khẩu";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="card auth-card">
    <h2 class="card-title">Đặt lại mật khẩu</h2>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-error">
            @TempData["ErrorMessage"]
        </div>
    }

    <form asp-action="ResetPassword" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="All" class="text-danger" style="color: #ef4444; font-size: 14px; margin-bottom: 20px;"></div>
        <input type="hidden" asp-for="Email" />
        <div class="form-group">
            <label asp-for="NewPassword">Mật khẩu mới</label>
            <input asp-for="NewPassword" class="form-input" placeholder="Nhập mật khẩu mới" type="password" required />
            <span asp-validation-for="NewPassword" class="field-error text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword">Xác nhận mật khẩu</label>
            <input asp-for="ConfirmPassword" class="form-input" placeholder="Nhập lại mật khẩu mới" type="password" required />
            <span asp-validation-for="ConfirmPassword" class="field-error text-danger"></span>
        </div>

        <button class="btn-primary" type="submit">ĐẶT LẠI MẬT KHẨU</button>

        <p class="login">Quay lại <a asp-action="Login">đăng nhập</a></p>
    </form>
</div>

